<?xml version="1.0"?>  
<config>  
    <modules>  
        <Ves_Megamenu>  
            <version>1.1.0</version>  
        </Ves_Megamenu>  
    </modules>  
    <frontend>
        <routers>
            <vesmegamenu>
                <use>standard</use>
                <args>
                    <module>Ves_Megamenu</module>
                    <frontName>vesmegamenu</frontName>
                </args>
            </vesmegamenu>
        </routers>
        <translate>
            <modules>
                <Ves_Megamenu>
                    <files>
                        <default>Ves_Megamenu.csv</default>
                    </files>
                </Ves_Megamenu>
            </modules>
        </translate>
        <layout>
            <updates>
                <ves_megamenu>
                    <file>ves_megamenu.xml</file>
                </ves_megamenu>
            </updates>
        </layout>
    </frontend>	
    <global>  		     
        <blocks>
            <ves_megamenu>
                <class>Ves_Megamenu_Block</class>
            </ves_megamenu>
        </blocks>
        <models>
            <ves_megamenu>
                <class>Ves_Megamenu_Model</class>
                <resourceModel>ves_megamenu_mysql4</resourceModel>
            </ves_megamenu>
            <ves_megamenu_mysql4>
                <class>Ves_Megamenu_Model_Mysql4</class>
                <entities>
                    <megamenu>
                        <table>ves_megamenu_megamenu</table>
                    </megamenu>
                </entities>
            </ves_megamenu_mysql4>
        </models>
        <helpers>
            <ves_megamenu>
                <class>Ves_Megamenu_Helper</class>
            </ves_megamenu>
        </helpers>
        <resources>
            <ves_megamenu_setup>
                <setup>
                    <module>Ves_Megamenu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ves_megamenu_setup>
            <ves_megamenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ves_megamenu_write>
            <ves_megamenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ves_megamenu_read>
        </resources>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <ves_megamenu_observer>
                        <type>singleton</type>
                        <class>Ves_Megamenu_Model_Observer</class>
                        <method>beforeRender</method>
                    </ves_megamenu_observer>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </global>  
    <admin>
        <routers>
            <ves_megamenu>
                <use>admin</use>
                <args>
                    <module>Ves_Megamenu</module>
                    <frontName>vesmegamenu</frontName>
                </args>
            </ves_megamenu>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ves_megamenu>
                    <file>ves_megamenu.xml</file>
                </ves_megamenu>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <ves_megamenu>
                            <title>Menu</title>
                            <sort_order>50</sort_order>
                            <children>
                                <index>
                                    <title>Manage Menu items</title>
                                    <sort_order>0</sort_order>
                                </index>
                             
                            </children>
                        </ves_megamenu>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ves_megamenu>
                                            <title>Ves Megamenu</title>
                                        </ves_megamenu>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <vesextensions module="ves_megamenu">
                <title>VenusTheme</title>
                <sort_order>50</sort_order>
                <children>
                    <ves_megamenu translate="title" module="ves_megamenu">
                        <title>Ves Megamenu</title>
                        <children>
                           
                            <index module="ves_megamenu">
                                <title>Manage Menu Items</title>
                                <sort_order>1</sort_order>
                                <action>vesmegamenu/adminhtml_megamenu/index</action>
                            </index>
							
						 
							
                            <configuration translate="title" module="ves_megamenu">
                                <title>Configuration</title>
                                <sort_order>3</sort_order>
                                <action>adminhtml/system_config/edit/section/ves_megamenu</action>
                            </configuration>
                        </children>
                    </ves_megamenu>
                </children>
            </vesextensions>
        </menu>
        <translate>
            <modules>
                <Ves_Megamenu>
                    <files>
                        <default>Ves_Megamenu.csv</default>
                    </files>
                </Ves_Megamenu>
            </modules>
        </translate>
    </adminhtml>	
		
    <default>
        <ves_megamenu>
            <ves_megamenu>
                <show>1</show>	
				<enable_jquery>0</enable_jquery>		
				<responsive>1</responsive>		
            </ves_megamenu>
            <top_menu_setting>
                <showTop>1</showTop>
                <topTheme>black</topTheme>
				<topCategory>1</topCategory>
                <topModuleClass>menu_top</topModuleClass>
                <topMenuItemWidth>top.menu</topMenuItemWidth>
                <topMenuItemWidth>200</topMenuItemWidth>
                <topBlockPosition>menu</topBlockPosition>
                <topBlockDisplay>before</topBlockDisplay>
                <topMenuAssignment></topMenuAssignment>
            </top_menu_setting>
            <left_menu_setting>
                <showLeft>1</showLeft>
                <leftMenuTitle>Mega Menu</leftMenuTitle>
                <showLeftTitle>1</showLeftTitle>
                <leftTheme>black</leftTheme>
                <leftModuleClass>menu_left</leftModuleClass>
                <leftMenuItemWidth>200</leftMenuItemWidth>
                <leftBlockPosition>left</leftBlockPosition>
                <leftBlockDisplay>before</leftBlockDisplay>
                <leftMenuAssignment></leftMenuAssignment>
            </left_menu_setting>
            <effect_setting>
                <overTime>300</overTime>
                <outTimeDuration>300</outTimeDuration>
                <showDelay>100</showDelay>
                <hideDelay>100</hideDelay>
            </effect_setting>
        </ves_megamenu>
    </default>
</config>  