<?xml version="1.0"?>  
<config>  
	<modules>  
		<Venustheme_ProductScroll>  
			<version>1.1.0</version>  
		</Venustheme_ProductScroll>  
	</modules>  
	<frontend>
		<translate>
			<modules>
				<Venustheme_ProductScroll>
					<files>
						<default>Venustheme_ProductScroll.csv</default>
					</files>
				</Venustheme_ProductScroll>
			</modules>
		</translate>
		<layout>
			<updates>
				<productscroll>
					<file>productscroll.xml</file>
				</productscroll>
			</updates>
		</layout>
			<events>
			<controller_action_layout_generate_blocks_after>
				<observers>
					<venustheme_productscroll_observer>
						<type>singleton</type>
						<class>Venustheme_ProductScroll_Model_Observer</class>
						<method>beforeRender</method>
					</venustheme_productscroll_observer>
				</observers>
			</controller_action_layout_generate_blocks_after>
		</events>
	</frontend>	
	<global>  		     
		<blocks>
            <venustheme_productscroll>
                <class>Venustheme_ProductScroll_Block</class>
            </venustheme_productscroll>
        </blocks>
       <models>
            <venustheme_productscroll>
                <class>Venustheme_ProductScroll_Model</class>
                <resourceModel>venustheme_productscroll_mysql4</resourceModel>
            </venustheme_productscroll>
            
        </models>
        <helpers>
            <venustheme_productscroll>
                <class>Venustheme_ProductScroll_Helper</class>
            </venustheme_productscroll>
        </helpers>
        <resources>
            <venustheme_productscroll_setup>
                <setup>
                    <module>Venustheme_ProductScroll</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </venustheme_productscroll_setup>
            <venustheme_productscroll_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </venustheme_productscroll_write>
            <venustheme_productscroll_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </venustheme_productscroll_read>
        </resources>
	
	</global>  
	<admin>
        <routers>
            <productscroll>
                <use>admin</use>
                <args>
                    <module>Venustheme_ProductScroll</module>
                    <frontName>productscroll</frontName>
                </args>
            </productscroll>
        </routers>
    </admin>
	<adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
						<venustheme_productscroll>
                            <title>File</title>
                            <sort_order>50</sort_order>
                            <children>
                                <index>
                                    <title>Manage Files</title>
                                    <sort_order>0</sort_order>
                                </index>
                                <new>
                                    <title>Add File</title>
                                    <sort_order>1</sort_order>
                                </new>
                            </children>
                        </venustheme_productscroll>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <venustheme_productscroll>
                                            <title>Ves ProductScroll</title>
                                        </venustheme_productscroll>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
		<menu>
            <vesextensions module="venustheme_productscroll">
                <title>VesExtensions</title>
                <sort_order>50</sort_order>
                <children>
					<productscroll translate="title" module="venustheme_productscroll">
						<title>Ves Product Scroll</title>
						<children>
							 
							<configuration translate="title" module="venustheme_productscroll">
								<title>Configuration</title>
								<sort_order>2</sort_order>
								<action>adminhtml/system_config/edit/section/venustheme_productscroll</action>
							</configuration>
						</children>
					</productscroll>
                </children>
            </vesextensions>
        </menu>
        <translate>
			<modules>
				<Venustheme_ProductScroll>
					<files>
						<default>Venustheme_ProductScroll.csv</default>
					</files>
				</Venustheme_ProductScroll>
			</modules>
		</translate>
    </adminhtml>	
		
	<default>
        <venustheme_productscroll>
            <venustheme_productscroll>
                <show>1</show>    
                <title>Ves Product Scroll</title>  
				<theme>default</theme>
                <moduleHeight>auto</moduleHeight>
                <moduleWidth>auto</moduleWidth>
				<thumbWidth>260</thumbWidth>                
                <thumbHeight>150</thumbHeight>   
				<source>catalog</source> 
				<thumbnailMode>1</thumbnailMode>  
				<enable_jquery>0</enable_jquery>
				<blockPosition>content</blockPosition>
				<blockDisplay>before</blockDisplay>
				<menuAssignment>Mage_Cms_index</menuAssignment>
				<source>catalog</source>
				<pretext></pretext>
				<cmsblock>0</cmsblock>
				<show_button>1</show_button>
				<show_pager>1</show_pager>
				<show_title>1</show_title>
				<show_date>0</show_date>
				<show_desc>0</show_desc>
				<show_price>1</show_price>
				<show_pricewithout>1</show_pricewithout>
				<show_addcart>1</show_addcart>
				<show_wc>0</show_wc>
				<review>1</review>
			</venustheme_productscroll>
			<catalog_source_setting>
				<catsid>3,5,7,8,9,10,11,12,13,14,15,17,18,19</catsid>
				<sourceProductsMode>latest</sourceProductsMode>
				<limit_item>24</limit_item>		
			</catalog_source_setting>
			
			<file_source_setting>
				<imagecategory></imagecategory>
			</file_source_setting>
			<effect_setting>
				<titleMaxchar>100</titleMaxchar>
				<descMaxchar>100</descMaxchar>
				<slide_width>auto</slide_width>
				<slide_height>350</slide_height>
				<auto_play>0</auto_play>
				<duration>500</duration>
				<scroll_items>1</scroll_items>
				<limit_cols>4</limit_cols>
				
			</effect_setting>

        </venustheme_productscroll>
    </default>
</config>  